.flipper {
     width: 25%;
     min-width: 250px;
     max-width: 350px;
     height: 100%;
     border-radius: 30px;
     perspective: 1000px;

     .cardContainer {
          width: 100%;
          height: 100%;
          position: relative;
          transition: transform 0.6s;
          transform-style: preserve-3d;

          .front {
               position: absolute;
               width: 100%;
               height: 100%;
               overflow: hidden;
               border-radius: 30px;
               box-sizing: border-box;
               background: rgba(255, 255, 255, 0.25);
               box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
               backdrop-filter: blur(4px);
               -webkit-backdrop-filter: blur(4px);
               border-radius: 30px;
               border: 1px solid rgba(255, 255, 255, 0.18);
               -webkit-backface-visibility: hidden;
               backface-visibility: hidden;

               .imageContainer {
                    width: 100%;
                    height: 60%;
                    overflow: hidden;

                    .coverImage {
                         width: 100%;
                         height: 100%;
                         object-fit: cover;
                         overflow: hidden;
                         object-position: center;
                    }
               }

               .bottomContainer {
                    width: 100%;
                    height: 40%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    box-sizing: border-box;

                    h3 {
                         color: #d6b164;
                         font-size: 20px;
                         font-family: var(--font-montserrat);
                    }

                    p {
                         text-align: center;
                         width: 90%;
                         font-size: 12px;
                         margin-block: 15px;
                         text-wrap: wrap;
                         color: #e0e0e0;
                         font-family: var(--font-montserrat);
                    }
               }
          }

          .back {
               position: absolute;
               width: 100%;
               height: 100%;
               overflow: hidden;
               border-radius: 30px;
               box-sizing: border-box;
               background: rgba(255, 255, 255, 0.25);
               box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
               backdrop-filter: blur(4px);
               -webkit-backdrop-filter: blur(4px);
               border-radius: 30px;
               border: 1px solid rgba(255, 255, 255, 0.18);
               -webkit-backface-visibility: hidden;
               backface-visibility: hidden;
               transform: rotateY(180deg);
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: space-evenly;

               .imageContainer {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .mockup {
                         width: 80%;
                         height: auto;
                         object-fit: contain;
                         object-position: center;
                    }
               }

               .bottomContainer {
                    width: 100%;
                    padding: 10px;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h4 {
                         font-size: 15px;
                         text-align: center;
                         font-family: var(--font-montserrat);
                         margin-bottom: 10px;
                         color: #e0e0e0;
                    }

                    .techWrapper {
                         width: 90%;
                         display: flex;
                         justify-content: center;
                         flex-wrap: wrap;

                         .techNames {
                              cursor: pointer;
                              display: inline-block;
                              padding: 8px;
                              margin: 5px;
                              font-size: 11px;
                              border: 1px solid #d7a883;
                              color: #d7a883;
                              font-family: var(--font-montserrat);
                              transition:
                                   color 0.2s ease-in-out,
                                   background-color 0.2s ease-in-out;
                              // color: #fff;
                         }

                         .techNames:hover {
                              background-color: #d7a883;
                              color: #fff;
                         }
                    }
               }
          }
     }
}

.flipper.hover .cardContainer {
     transform: rotateY(180deg);
}

@keyframes slideAnimation {
     0% {
          transform: rotateY(0deg);
     }

     50% {
          transform: rotateY(50deg);
     }

     100% {
          transform: rotateY(0deg);
     }
}

@media screen and (max-width: 500px) {
     .flipper {
          width: 80%;

          height: 60vh;

          .cardContainer {
               .rotateIconContainer {
                    position: absolute;
                    bottom: 10px;
                    right: 20px;
                    z-index: 15;
                    width: 20px;
                    height: 20px;
               }
          }
     }

     .flipper.appear {
          animation: slideAnimation 0.5s ease-in-out;
     }
}